.cuerpo{
    background: rgba(243, 173, 127, 0.822);
}

nav{
	width: 80%;
	margin-top: 1rem;
	margin-left: 8rem;
	margin-bottom: 1rem;
	border-radius: 15px;
	opacity: 0.75;
	box-shadow: 10px 5px 5px black;
	font-weight: bold;
}

.nav-item{
	padding-left: 1rem;
	padding-right: 2rem;
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.seleccion{
	font-weight: bold;
	font-size: 16px;
}

.tablero {
	border-style: solid;
	padding: 5px;
	border-radius: 15px;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	font-size: 1.5em;
	box-shadow: 10px 5px 5px black;
	background: #7ebd67;
	font-weight: bold;


}

.tablero p {
	font-size: 2em;

}

.contenedor {
	width: 95%;
	margin: auto;
}

.contenedor-conciertos {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 15px;
	border-style: solid;
	padding: 10px;
	border-radius: 15px !important;
	box-shadow: 10px 5px 5px black;
	background: #5F8D4E;
}

.card {
	min-height: 100px;
	font-weight: bold;
	padding: 10px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	border-radius: 1rem !important;

}

.row1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	justify-items: center;
	align-items: center;
	font-size: 20px;

}

.row2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px;
	justify-items: center;
	align-items: center;
	text-transform: uppercase;
	padding-top: 10px;
}



select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #5c6664;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	/*color: #fff;*/
	cursor: pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	background: #459153;;


}

select::-ms-expand {
	display: none;
}

.selectCustom {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	border-radius: .25em;
	margin-bottom: 10px;
	box-shadow: 10px 5px 5px black;
	border-radius: 1rem;

}

.selectCustom::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor: pointer;
	pointer-events: none;
	transition: .25s all ease;

}

.selectCustom:hover::after {
	color: #0fe0ba;
}

.center {
	text-align: left;
}

.libre {
	background-color: #45ee539d !important;
	box-shadow: 10px 5px 5px black;

}

.ocupado {
	background-color: #da4747fd !important;
	box-shadow: 10px 5px 5px black;
}

.reservado {
	background-color: 	#1120a3b7 !important;
	box-shadow: 10px 5px 5px black;
}

.liberado {
	background-color: #c5cbd3 !important;
	box-shadow: 10px 5px 5px black;
}

.reservado:hover{
	text-shadow: -6px -3px 13px rgba(246,246,246,0.93);
}
.ocupado:hover{
	text-shadow: -6px -3px 13px rgba(246,246,246,0.93);
}
.libre:hover{
	text-shadow: -6px -3px 13px rgba(246,246,246,0.93);
}
.liberado:hover{
	text-shadow: -6px -3px 13px rgba(24, 23, 23, 0.93);
}

.custombtn {
	position: relative;
	top: -2rem;
	background-color: DodgerBlue !important;
	border: none !important;
	color: white !important;
	cursor: pointer !important;
	width: 65% !important;
	height: 30px !important;
	border-radius: 10px !important;
	display: table-cell !important;
	vertical-align: middle !important;
	padding: 0px !important;
	margin-left: 1.5rem;
	box-shadow: 10px 5px 5px black;
	transform: scale(var(--escala, 1));
	transition: transform 0.25s;

}

/* Darker background on mouse-over */


button:disabled,
button[disabled] {
	border: 1px solid #999999 !important;
	background-color: #cccccc !important;
	color: #666666 !important;
}

.btnReserva {
	font-size: 18px;
	padding-right: 3px;
}

.clockClass {
	font-size: 18px;
	padding-right: 3px;
}

.cardTitulo {
	text-align: left;
	margin-bottom: 5px;
	font-size: 1.5rem;
}

.titulodiv{
	font-size: 20px;
}

.cardAuto {
	width: 50%;
	position: relative;
	top: -70px;
	left: 115px;
	filter: drop-shadow(2px 2px 10px white);
}
.cardAuto:hover{
	text-shadow: -6px -3px 13px rgba(147, 206, 52, 0.93);
}


.custombtn:hover{
	text-shadow: -6px -3px 13px rgba(246,246,246,0.93);
	--escala:1.2;
}

.nav-item:hover{
	text-shadow: -6px -3px 13px rgba(246,246,246,0.93);
}


.nav-link:hover{
	text-shadow: -5px -2px 10px rgba(10, 190, 85, 1);

}
